@font-face {
	font-family: 'Cormorant Garamond';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/CormorantGaramond-SemiBold.ttf') format('truetype');
}
.listings-entire {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.listings-top {
	flex: 0 0 10%;
	display: flex;
	flex-direction: row;
}
.listings-top-left {
	flex: 0 0 10%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
}
.listings-top-center {
	flex: 0 0 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.listings-top-right {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	gap: 20px;
	cursor: pointer;
}
.listings-center {
	flex: 0 0 80%;
	display: flex;
	flex-direction: row;
	margin-left: 5%;
	font-size: 20px;
}
.listings-table {
	width: 100;
	border-collapse: collapse;
	table-layout: fixed;
}
.listings-table th {
	padding: 10px;
	vertical-align: top;
	text-align: center;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	font-size: 25px;
}
.listings-table td {
	padding: 10px;
	vertical-align: top;
	text-align: center;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	cursor: pointer;
	font-size: 20px;
}
.listings-col-user {
	width: 15%;
}
.listings-col-item {
	width: 20%;
}
.listings-col-image {
	width: 20%;
}
.listings-col-preferences {
	width: 15%;
}
.listings-col-like {
	width: 10%;
}
.listings-bottom {
	flex: 1;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
}
.function-button {
    background-color: #f1ebe5;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.like-button {
	width: 50px;
	height: 50px;
	font-size: 50px;
	background: transparent;
	border: none;
	cursor: pointer;
}
.like-button svg {
  pointer-events: none;
}
