@font-face {
	font-family: 'Cormorant Garamond';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/CormorantGaramond-SemiBold.ttf') format('truetype');
}
.listings-entire {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.listings-top {
	flex: 0 0 10%;
	display: flex;
	flex-direction: row;
}
.listings-top-left {
	flex: 0 0 10%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
}
.listings-top-center {
	flex: 0 0 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.listings-top-right {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	gap: 20px;
	cursor: pointer;
}
.listings-center {
	flex: 0 0 80%;
	display: flex;
	flex-direction: row;
}
.listings-center-left, .listings-center-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
}
.listings-center-left-box, .listings-center-right-box {
    background-color: #f1ebe5;
	height: 80%;
	width: 60%;
	padding: 20px 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prev-button, .next-button {
	flex: 0 0 10%;
	display: flex;
	justify-content: flex-start;
	padding: 20px;
}
.listings-center-left-bottom {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.listings-center-left-bottom-nav {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.listings-center-left-bottom-like {
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
}
.listings-center-center {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.listings-bottom {
	flex: 1;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
}
.listings-card {
    font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
	text-align: center;
	width: 80%;
}
.function-button {
    background-color: #f1ebe5;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.nav-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 30px;
	background-color: #f1ebe5;
	cursor: pointer;
}
.like-button {
	width: 50px;
	height: 50px;
	font-size: 50px;
	background: transparent;
	border: none;
	cursor: pointer;
}
.like-button svg {
  pointer-events: none;
}
